

#css{
  flex-direction:column-reverse;
justify-content:space-between;
  text-align: center;
  color: red;
}
.icon-list body {
   flex-direction:column-reverse;
justify-content:space-between;
  text-align: center;
  color: red;

  }
h2 {
  color: red;
}
body {
  background-color: #FE0016;
}
